<div class="app-container">
  <aside class="modern-sidebar" *ngIf="showSidebar">
    <div class="sidebar-header">
      <i class="fas fa-wallet"></i>
      <span>AxioCRM</span>
    </div>

    <ul class="nav-links">
      <li><a routerLink="/dashboard"><i class="fas fa-home"></i> Home</a></li>
      <li><a routerLink="/product"><i class="fas fa-box"></i> Products</a></li>
      <li><a routerLink="/client"><i class="fas fa-users"></i> Clients</a></li>
      <li><a routerLink="/order"><i class="fas fa-shopping-cart"></i> Orders</a></li>
      <li><a routerLink="/invoice"><i class="fas fa-receipt"></i> Invoices</a></li>
      <li><a routerLink="/scheduler"><i class="fas fa-calendar-day"></i> Scheduler</a></li>
      <li><a routerLink="/email-history"><i class="fas fa-envelope"></i> Email history</a></li>
      <li><a routerLink="/booking-kanban"><i class="fas fa-project-diagram"></i>Bookings Kanban</a>
</li>
    </ul>
  </aside>

  <main class="main-content-area">
    <app-notification-toast></app-notification-toast>

    <router-outlet></router-outlet>
  </main>
</div>


