.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index:  99999;
   pointer-events: auto;
}

.toast-mac {
  display: flex;
  align-items: center;
  width: 520px;
  padding: 14px;
  margin-bottom: 12px;
  border-radius: 12px;
  background: linear-gradient(#f0fff7, #e6fbf1);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
  animation: slideIn 0.3s ease;
}

/* animation */
@keyframes slideIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

/*.toast-icon {
  position: relative;
  width: 56px;
  height: 56px;
  background:  #ffffff40;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}*/

/* content */
.toast-body {
  flex: 1;
  margin-left: 14px;
}

.toast-title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 4px;
}

.toast-message {
  font-size: 14px;
  color: #374151;
  white-space: pre-line; /*  pour les lignes */
}
.toast-message b {
  font-weight: 700;
  color: #065f46; /* vert foncé */
}

/* actions */
.toast-actions {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.btn {
  padding: 4px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.btn.snooze {
  background: #e5e7eb;
}

.btn.close {
  background: #3b82f6;
  color: white;
}
