<div class="toast-container">

  <div class="toast-mac" *ngFor="let toast of toasts; let i = index">
    <div class="toast-icon" style =" font-size: 40px;color: #0a7941;">
      <i class="fa fa-calendar"></i>
        <span class="calendar-day"  style ="margin-left: -28px;margin-top: 16px;position: absolute;font-size: 18px;font-weight: 700;color: #d1fae5;line-height: 1; " >{{ todayDay }}</span>
    </div>
    <div class="toast-body">
      <div class="toast-title">
        {{ toast.title }}
      </div>

      <div class="toast-message">
        {{ toast.message }}
      </div>
    </div>
    <div class="toast-actions">
      <button class="btn snooze" (click)="snooze(toast)">Snooze</button>
      <button class="btn close" (click)="close(i)">Close</button>
    </div>

  </div>

</div>
