::ng-deep .mat-dialog-container {
  padding: 0;
  border-radius: 8px;
  width: 600px;
  max-height: 90vh;
  overflow: hidden;
}

.dialog-body {
  padding: 16px;
  max-height: calc(90vh - 120px);
  overflow-y: auto;
}

.row {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

label {
  font-size: 14px;
  color: #555;
}

mat-form-field {
  width: 100%;
}


.color-picker {
  height: 36px;
  width: 60px;
  border: none;
  background: none;
  cursor: pointer;
}


.dialog-footer {
  border-top: 1px solid #e0e0e0;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
}

.date-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}


.date-field {
  display: flex;
  flex-direction: column;
}

.time-input {
  height: 36px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.date-field label {
  font-size: 14px;
  color: #555;
  margin-bottom: 4px;
}
.datetime-input {
  height: 56px;
  padding: 0 12px;
  border: 1px solid rgba(0,0,0,0.23);
  border-radius: 4px;
  font-size: 14px;
}

.datetime-input:focus {
  border-color: #1976d2;
  outline: none;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #1976d2;
  color: white;

  padding: 14px 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dialog-title-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dialog-title {
  font-size: 18px;
  font-weight: 500;
}

.dialog-icon {
  font-size: 22px;
}

.close-btn mat-icon {
  color: white;
}