
<div class="dialog-header">
  <div class="dialog-title-container">
    <mat-icon class="dialog-icon">
       {{ event.id ? 'edit_calendar' : 'add_circle' }}
    </mat-icon>
    <span class="dialog-title">{{ dialogTitle }}</span>
  </div>

  <button mat-icon-button (click)="cancel()" class="close-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>


<div class="dialog-body">

  <div class="row">
    <label>Title</label>
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="event.title">
    </mat-form-field>
  </div>

<div class="row date-row">


  <div class="date-field">
    <label>Start</label>
    <input
      type="datetime-local"
      [(ngModel)]="event.start"
      class="datetime-input">
  </div>


  <div class="date-field">
    <label>End</label>
    <input
      type="datetime-local"
      [(ngModel)]="event.end"
      class="datetime-input">
  </div>

</div>



  <div class="row">
    <label>Description</label>
    <mat-form-field appearance="outline">
      <textarea matInput rows="2" [(ngModel)]="event.description"></textarea>
    </mat-form-field>
  </div>

  <div class="row">
    <label>Color</label>
    <input type="color" [(ngModel)]="event.color" class="color-picker">
  </div>
  
  <div class="row">
  <label>Commercial</label>
  <mat-form-field appearance="outline">
    <mat-select [(ngModel)]="event.resourceId">
      <mat-option *ngFor="let r of resources" [value]="r.id">
        {{ r.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
 <div class="row checkbox-row">
  <mat-checkbox [(ngModel)]="event.AdminNotified">
    Reminder sent
  </mat-checkbox>
</div>
</div>

<div class="dialog-footer">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="save()">Save</button>
</div>
