
<div class="kanban-header">
  <div class="kanban-title">  <img src="assets/news.png" class="title-icon"/> Booking Kanban</div>

  <div class="kanban-avatars">
    <div
      class="avatar"
      *ngFor="let user of headerUsers; let i = index"
      [ngClass]="getAvatarColor(i)"
      [style.zIndex]="10 - i">
      {{ getInitials(user.name) }}
    </div>
    <div class="avatar avatar-add" (click)="addUserGlobal()">+</div>
  </div>
</div>

<div class="kanban-board">

  <div class="kanban-column" *ngFor="let col of columns">


    <div class="kanban-column-header">
      <span class="column-title">{{ col.label }}</span>
    </div>

    <div
      class="kanban-column-content"
      cdkDropList
      [id]="'list-' + col.status"
      [cdkDropListData]="tasksByColumn[col.status]"
      [cdkDropListConnectedTo]="connectedLists"
      (cdkDropListDropped)="drop($event, col.status)">

      <div
        class="kanban-card advanced"
        *ngFor="let task of tasksByColumn[col.status]; trackBy: trackByTaskId"
        cdkDrag>
        

       <div class="priority-badge" [ngClass]="getPriorityClass(task.priority)">
         {{ getPriorityLabel(task.priority) }}
       </div>

        <div class="task-title">
          {{ task.title }}
        </div>

        <div class="task-avatars">
          <div class="avatar small">
            {{ getInitials(task.commercialName || 'NA') }}
          </div>
          <div class="avatar small ghost">+</div>
        </div>

        <div class="task-subtasks" *ngIf="task.subTasks?.length">
          <div class="subtask" *ngFor="let s of task.subTasks">
            <input type="checkbox" /> {{ s }}
          </div>
        </div>

 
        <div class="task-footer">
          <span *ngIf="task.dueDate">📅 {{ task.dueDate | date:'dd MMM' }}</span>
          <span class="task-more">+</span>
          <div class="card-actions">

      <button class="icon-btn"
           (click)="openEditTask(task); $event.stopPropagation()">
                ✏️
      </button>

      <button class="icon-btn delete"
          (click)="deleteTask(task); $event.stopPropagation()">
            🗑️
       </button>

        </div>
       </div>

      </div>

      <div class="add-task-inline" (click)="openAddTask(col.status)">
        + ADD TASK
      </div>

    </div>
  </div>
</div>
