<full-calendar
  #calendar
  [options]="calendarOptions">
</full-calendar>
<!--<ng-template #eventModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Add Event</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <input type="text" class="form-control" placeholder="Event title" [(ngModel)]="eventTitle">
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
   
  </div>
</ng-template> -->
