.charts-wrapper {
 display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 60px;
    justify-content: flex-start;
}

.chart-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  margin-right: 3px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: calc(35% - 10px); 
}