<div class="header-top d-flex align-items-center justify-content-between p-3">
  <!-- Titre + bouton refresh -->
  <div class="title-container d-flex align-items-center">
    <h5 class="mb-0">Produits</h5>
    <button class="btn btn-sm btn-light ms-3" (click)="loadProducts()">
      <i class="fas fa-redo"></i>
    </button>
  </div>

  <!-- Actions (recherche + filtres + ajout) -->
  <div class="actions-container d-flex align-items-center">
    <div class="d-flex mb-3" style ="margin-top:19px">
      <input
        type="text"
        class="form-control me-2"
        placeholder="Search product/price"
        [formControl]="filter"
      />

      <select class="form-select me-2" [formControl]="statusFilter">
        <option value="">All Status</option>
        <option *ngFor="let s of statusList" [value]="s">{{ s }}</option>
      </select>
    </div>

      <button class="btn btn-primary me-2" (click)="onAdd()">
      <i class="fas fa-plus"></i> Ajouter
    </button>
  </div>
</div>

<!-- Tableau Produits -->
<div class="table-responsive">
  <table class="table client-table">
    <thead>
      <tr>
        <th>Produit</th>
        <th>Prix (€)</th>
        <th>Ventes</th>
        <th>Revenu (€)</th>
        <th>Stock</th>
        <th>Status</th>
    
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let product of filteredProducts$ | async; trackBy: trackById"
       [class.table-active]="selectedProduct === product"
       (click)="selectProduct(product)">
        <td>
         <div class="d-flex align-items-center">
 
  <div>{{ product.name }}</div>
</div>

        </td>

        <td>{{ product.price | currency:'EUR' }}</td>
        <td>{{ product.sales }} pcs</td>
        <td>{{ product.revenue | currency:'EUR' }}</td>
        <td>{{ product.stockQuantity }}</td>
        
        <td>
          <span
            class="status-dot me-1"
            [ngClass]="{
              'status-active': product.status === 'In Stock',
              'status-inactive': product.status === 'Out of Stock',
              'status-Restock': product.status === 'Restock'
            }"
          ></span>
          {{ product.status }}
        </td>
       

     <td class="text-center actions-cell">
        <div class="actions-container" (click)="toggleActions($event)">
          <button class="btn btn-link p-0 ellipsis-icon">
            <i class="fas fa-ellipsis-v"></i>
          </button>
          <div class="action-icons" (click)="$event.stopPropagation()">
            <button class="btn btn-link p-0 me-2" (click)="onEdit(product)">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-link p-0" (click)="onDelete(product)">
              <i class="fas fa-trash-alt"></i>
            </button>
            <button class="btn btn-link p-0 ms-2" (click)="onView(product)">
              <i class="fas fa-eye"></i>
            </button>
          </div>
        </div>
      </td>
      </tr>
    </tbody>
  </table>

  <ng-template #isLoading>
    <tr>
      <td colspan="7" class="text-center">Loading...</td>
    </tr>
  </ng-template>
</div>

<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="width: 950px; height: 950px;">
      <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
        <!-- Header -->
         <div class="modal-header" style="border-bottom: 1px solid #dee2e6;background-color: #f8f9fa;height: 70px;">
          <h5 class="modal-title" id="productModalLabel" style="font: 600 22.62px / 21px Roboto, sans-serif;margin: 0 0 12px;">Product Details</h5>
         
        </div>

        <!-- Body -->
        <div class="modal-body" style="margin-top:8px;height: 650px;">
          <h4 class="mb-3" style ="font-size: larger;font-weight: 600;"> --- General Informations --- </h4>
          <div class="row" style="margin-bottom: 20px;">
             <div class="col-md-8 col-sm-6 col-12" >
              <div class="form-group ">
                <input type="hidden" class="form-control" formControlName="id" readonly style="width: 915px"/>
              </div>
            </div>
            <div class="col-md-8 col-sm-6 col-12" >
              <div class="form-group" style="margin-top: 15px;">
                <label style="font-size: medium;font-weight: 700;">Product Name</label>
                <input type="text" class="form-control" formControlName="name" style="width: 915px"/>
              </div>
            </div>
          </div>

          <div class="form-group" style="margin-top: 10px;">
            <label style="font-size: medium;font-weight: 700;">Description</label>
            <textarea rows="3" class="form-control" formControlName="description"></textarea>
          </div>

          <h4 class="mt-4 mb-3" style ="font-size: larger;font-weight: 600;margin-bottom: 25px;">--- Stock & Pricing ---</h4>
          <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <label style="font-size: medium;font-weight: 700;">Price (€)</label>
                <input type="number" class="form-control" formControlName="price" />
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <label style="font-size: medium;font-weight: 700;">Stock Quantity</label>
                <input type="number" class="form-control" formControlName="stockQuantity" />
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <label style="font-size: medium;font-weight: 700;">Status</label>
                <select class="form-control" formControlName="status">
                   <option value="In Stock" >In Stock</option>
                   <option value="Out of Stock" >Out of Stock</option>
                   <option value="Restock" >Restock</option>
                </select>
              </div>
            </div>
          </div>
   <!-- === Appearance === -->
<h4 class="mt-4 mb-3" style="font-size: larger; font-weight: 600;">--- Appearance ---</h4>
<div class="row mb-3">

  <!-- IMAGE À GAUCHE -->
  <div class="col-md-8 col-sm-6 col-12">
    <div class="form-group product-image-container">

      <label style="font-size: medium; font-weight: 700; margin-right: 12px;">
        Product Image
      </label>

      <div class="upload-box" (click)="triggerFileInput()">
        <div *ngIf="!imagePreview" class="upload-placeholder">
          <img src="assets/upload-icon.png" width="45">
          <p>Drop your image here, or <span class="browse">browse</span></p>
          <small>Supports: JPG, JPEG2000, PNG</small>
        </div>

        <img *ngIf="imagePreview" [src]="imagePreview" class="preview-image" />

        <input
          type="file"
          #fileInput
          accept="image/*"
          (change)="onFileSelected($event)"
          style="display: none;"
        />
      </div>

      <div *ngIf="uploadProgress > 0 && uploadProgress < 100" class="progress-container">
        <div class="progress-bar" [style.width.%]="uploadProgress"></div>
        <span class="progress-text">{{ uploadProgress }}% uploading…</span>
      </div>

    </div>
  </div>

  <!-- COLOR À DROITE -->
  <div class="col-md-4 col-sm-6 col-12"style="margin-left: -255px;margin-top:8px">
    <div class="form-group">
      <label style="font-size: medium; font-weight: 700; margin-bottom: 6px;">
        Color
      </label>

      <div class="dropdown position-relative">
        <button
          class="btn btn-light dropdown-toggle text-start d-flex align-items-center justify-content-between w-100"
          type="button"
          (click)="toggleDropdown()"
        >
          <div class="d-flex align-items-center">
            <div
              class="color-box me-2"
              [style.backgroundColor]="selectedColor?.value || '#fff'"
            ></div>
            {{ selectedColor?.name || '-- Select a color --' }}
          </div>
        </button>

        <ul
          class="dropdown-menu w-100"
          [class.show]="dropdownOpen"
          style="max-height: 200px; overflow-y: auto;"
        >
          <li
            *ngFor="let color of colorList"
            (click)="selectColor(color)"
            class="dropdown-item d-flex align-items-center"
            style="cursor: pointer;"
          >
            <div class="color-box me-2" [style.backgroundColor]="color.value"></div>
            {{ color.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>



          <h4 class="mt-4 mb-3" style ="font-size: larger;font-weight: 600;">---Performance---</h4>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label style="font-size: medium;font-weight: 700;">Sales</label>
                <input type="number" class="form-control" formControlName="sales" />
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label style="font-size: medium;font-weight: 700;">Revenue (€)</label>
                <input type="number" class="form-control" formControlName="revenue" />
              </div>
            </div>
          </div>
        </div>
     
        <!-- Footer -->
        <div class="modal-footer" style="border-bottom: 1px solid #dee2e6;background-color: #f8f9fa;margin-top:140px">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()" style="font-weight: 600;font-size: x-large;width: 170px;margin-right: 16px;"> {{ isViewMode ? 'Close' : 'Cancel' }}</button>
          <button type="submit" class="btn btn-primary" style="font-weight: 600;font-size: x-large;width: 170px;" [disabled]="isSaving" *ngIf ="!isViewMode"> {{ isSaving? 'Saving…' : 'Save' }}</button>

        </div>
      </form>
    </div>
  </div>
</div>