
.reset-password-container {
  background-color: white;
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  height: 350px;
}

.reset-password-container h2 {
  margin-bottom: 1.5rem;
  color: #5f27cd;
}

.reset-password-container form div {
  margin-bottom: 1rem;
}

.reset-password-container label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.reset-password-container input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: border 0.3s;
}

.reset-password-container input:focus {
  border-color: #7f00ff;
  outline: none;
}

.reset-password-container button {
  width: 100%;
  padding: 0.75rem;
  background-color: #7f00ff;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-password-container button:hover {
  background-color: #5f00cd;
}

.reset-password-container p {
  text-align: center;
  margin-top: 1rem;
  color: #333;
}
.main-content-area[_ngcontent-ng-c1322472800], .main-content-area[_ngcontent-ng-c1322472800][_ngcontent-ng-c1322472800] {
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to bottom right, #7f00ff, #e6e6fa);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      height: 100vh;
      width: 100vw;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      flex-grow: 1;
      background-color: #f9f9f9;
      overflow-y: auto;
}
.mat-h2, .mat-headline-6, .mat-typography .mat-h2, .mat-typography .mat-headline-6, .mat-typography h2 {
    font-size: 39px;
    font: 600 25px / 32px Roboto, sans-serif;
    letter-spacing: .0125em;
    margin: 0 0 16px;
    color: #6c6969;
}
