<div class="reset-password-page" style=" display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to bottom right, #7f00ff, #e6e6fa);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      height: 100vh;
      width: 100vw;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      flex-grow: 1;
      background-color: #f9f9f9;
      overflow-y: auto;">
 <div class="signup-left">
    <h1 class="brand" style="color: #f3f2f7;
      font-weight: 500;
      font-size: 68px;
      margin-top:-240px">AXIOCRM</h1>
    <h2 class="hello" style="color: #f3f2f7;
    font-weight: 500;
    font-size: 48px;
    margin-top: 57px;">Hey, Hello!</h2>
    <p class="subtitle" style=" font-size: 20px;
    color: #f3f2f7;">
      Join AXIOCRM ! It is your all-in-one modular CRM platform designed for modern businesses!
    </p>
    <p class="description" style=" font-size: 20px;
    color: #f3f2f7;">
      We simplify your financial operations, customer tracking, and project workflows — all with minimal setup and maximum flexibility.
    </p>
    <p class="pconnect"style=" font-size: 20px;
    color: #f3f2f7;">
      Let go to rest your password !
    </p>
  </div>
  <div class="reset-password-container" style=" background-color: white;
      padding: 2.5rem;
      border-radius: 1rem;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 450px;
      text-align: center;
      height: 420px;
      margin-left: 190px;margin-top:-185px">
    <h2 style="font-size: 39px;
       font: 600 25px / 32px Roboto, sans-serif;
       letter-spacing: .0125em;
       margin-right: 95px; 
       color: #5f27cd;">Reset your password</h2>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div style="margin-bottom: 1rem;">
        <label style="font-size: 18px;
                      display: block;
                      margin-top: 24px;
                      margin-bottom: 1.5rem;
                      font-weight: 700;
                       color: #5c5b5b;margin-left:-180px;">New password</label>
                       <div class="input-container" style="position: relative; padding-right: 35px;">
        <input [type]="newPasswordType" formControlName="newPassword" style="width: 330px;margin-left: 30px;
          padding: 0.75rem 1rem;
          border: 1px solid #ddd;
          border-radius: 0.5rem;
          font-size: 1rem;
          transition: border 0.3s; border-color: #7f00ff;
          outline: none;"/>
               <i class="fa password-toggle"  [ngClass]="{'fa-eye': newPasswordType === 'password', 'fa-eye-slash': newPasswordType === 'text'}"(click)="togglePasswordVisibility('new')" style="position: absolute;
                                                                         top: 50%; 
                                                                         right: 10px; 
                                                                         transform: translateY(-50%); 
                                                                         cursor: pointer;
                                                                         color: #040404;margin-right: 19px;">
                </i>
           
         </div>
      </div>

      <div>
        <label style="font-size: 18px;
                     display: block;
                     margin-top: 24px;
                     margin-bottom: 1.5rem;
                     font-weight: 700;
                     color: #5c5b5b;margin-right: 195px;width: 250px;">Confirm the password</label>
       <div class="input-container" style="position: relative; padding-right: 35px;">
               <input 
                  [type]="confirmPasswordType" 
                  formControlName="confirmPassword" 
                  style="width: 330px;margin-left: 30px;
                          padding: 0.75rem 1rem;
                          border: 1px solid #ddd;
                          border-radius: 0.5rem;
                          font-size: 1rem;
                          transition: border 0.3s;
                          border-color: #7f00ff;
                          outline: none;"  />
              <i  class="fa password-toggle" 
                    [ngClass]="{'fa-eye': confirmPasswordType === 'password', 'fa-eye-slash': confirmPasswordType === 'text'}" 
                    (click)="togglePasswordVisibility('confirm')" style="position: absolute;
                                                                         top: 50%; 
                                                                         right: 10px; 
                                                                         transform: translateY(-50%); 
                                                                         cursor: pointer;
                                                                         color: #040404;margin-right: 19px;">
               </i>
         </div>            
      </div>

      <button type="submit" [disabled]="loading" style="  width: 333px; height: 50px;
       padding: 0.75rem;
       background-color: #7f00ff;
       color: white;
       border: none;
      border-radius: 0.5rem;
       font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;margin-top: 27px; margin-left: 22px;">Reset</button>
    </form>

    <p>{{ message }}</p>
  </div>
</div>
