.stat-card {
  background: #6a5acd;
  color: white;
  padding: 1.2rem;
  border-radius: 1rem;
  width: 200px;
  height: 235px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  font-family: sans-serif;
  margin-top:20px;
  margin-left:65px;
}

.stat-card .icon i {
  font-size: 27px;
  margin-right: 8px;
  color: white; 

}

.value {
  font-size: 1.5rem;
  font-weight: bold;
}

.label {
  font-size: 0.85rem;
  padding: 3.2rem;
  margin-left: -45px;
  margin-top: -68px;
}

.arrow .circle {
  background: #fecdd3;
  color: #7b61ff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
