.card[_ngcontent-ng-c1608755989] {
    background: #fff;
    border-radius: 12px;
    border-color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 8px #0000000d;
    width: 280px;
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-left: 35px;
}
canvas {
width: 130px;
  height: 130px;
}

.header[_ngcontent-ng-c1608755989][_ngcontent-ng-c1608755989] {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #000;
    font-weight: 500;
    margin-top: -8px;

}
.amount[_ngcontent-ng-c1608755989] {
    font-size: 1.5rem;
    font-weight: 700;
    /* margin: .5rem 0; */
    margin-top: -20px;
    margin-left: -176px;
}
.percentage {
  color: #a855f7;
  font-weight: bold;
}
