<div class="reset-password-page" style=" display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to bottom right, #7f00ff, #e6e6fa);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      height: 100vh;
      width: 100vw;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      flex-grow: 1;
      background-color: #f9f9f9;
      overflow-y: auto;">
 <div class="signup-left">
    <h1 class="brand" style="color: #f3f2f7;
      font-weight: 500;
      font-size: 68px;
      margin-top:-240px">AXIOCRM</h1>
    <h2 class="hello" style="color: #f3f2f7;
    font-weight: 500;
    font-size: 48px;
    margin-top: 57px;">Hey, Hello!</h2>
    <p class="subtitle" style=" font-size: 20px;
    color: #f3f2f7;">
      Join AXIOCRM ! It is your all-in-one modular CRM platform designed for modern businesses!
    </p>
    <p class="description" style=" font-size: 20px;
    color: #f3f2f7;">
      We simplify your financial operations, customer tracking, and project workflows — all with minimal setup and maximum flexibility.
    </p>
    <p class="pconnect"style=" font-size: 20px;
    color: #f3f2f7;">
      Let go to rest your password !
    </p>
  </div>
  <div class="reset-password-container" style=" background-color: white;
      padding: 2.5rem;
      border-radius: 1rem;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 480px;
      text-align: center;
      height: 420px;
      margin-left: 190px;margin-top:-185px">
    <h2 style="font-size: 39px;
       font: 600 25px / 32px Roboto, sans-serif;
       letter-spacing: .0125em;
       margin-right:150px;
       margin-top: 50px;
       color: #5f27cd;">Enter your email</h2>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div style="margin-bottom: 1rem;">
      
        <input type="email" formControlName="email" placeholder="Your email" style="width: 100%;
          padding: 0.75rem 1rem;
          border: 1px solid #ddd;
          border-radius: 0.5rem;
          font-size: 1rem;
          transition: border 0.3s; border-color: #7f00ff;
          outline: none;margin-top: 27px">
      </div>

      <button type="submit" style="  width: 100%;
       padding: 0.75rem;
       background-color: #7f00ff;
       color: white;
       border: none;
      border-radius: 0.5rem;
       font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;margin-top: 15px;">Send Link</button>
    </form>

    <p>{{ message }}</p>
  </div>
</div>