:host {
  display: block;
  font-family: Inter, Roboto, Arial, sans-serif;
}

h2 {
  font-weight: 600;
  margin-bottom: 10px;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 10px;
  overflow-x: hidden;   
  max-width: 420px; 
}
::ng-deep .mat-mdc-dialog-surface {
  overflow-x: hidden;
}

mat-form-field {
  width: 330px;
}

textarea {
  min-height: 80px;
  resize: none;
}


mat-dialog-actions {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}


button[mat-raised-button] {
  border-radius: 8px;
  padding: 6px 18px;
  font-weight: 500;
}


button[mat-button] {
  color: #666;
}


::ng-deep .mat-mdc-dialog-container {
  border-radius: 14px !important;
  padding: 8px;
}


::ng-deep .mdc-text-field--outlined {
  border-radius: 10px;
}
